<!--
  <body class="nav-md">
    -->
    <div class="container body">
      <div class="main_container">
    
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><!--<i class="fa fa-paw"></i>--> <span>Forescast NEC</span></a>
            </div>
    
            <div class="clearfix"></div>
    
            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <!--
                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                -->
              </div>
              <div class="profile_info">
                <span>Bienvenido,</span>
                <h2>{{fullname}}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->
    
            <br />
    
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a routerLink="/main" routerLinkActive="active"><i class="fa fa-home"></i> Data Upload <span class="fa fa-chevron-down"></span></a>
                  </li>
                  <li><a routerLink="/data" routerLinkActive="active"><i class="fa fa-bar-chart-o"></i> Data Comparisons <span class="fa fa-chevron-down"></span></a>
                  </li>
                  <li><a routerLink="/sales" routerLinkActive="active"><i class="fa fa-clone"></i> Forecast Prediction
                    <span class="fa fa-chevron-down"></span></a>
                </li>
                <li><a><i class="fa fa-bar-chart-o childmio"></i> Configuration<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a class="childmio" routerLink="/mktprogram" routerLinkActive="active">Mkt Program</a></li>
                    <li><a class="childmio" routerLink="/rules" routerLinkActive="active">Rules</a></li>
                  </ul>
              </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    
        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
    
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-user">&nbsp;{{fullname}}</i>&nbsp;
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">                    
                    <li><a (click)="logout()"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>
    
                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
    
    
    
    <!-- /top navigation -->
    <!-- (onFileDrop)="dropped($event);" -->
    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Reglas de Predicción</h3>
          </div>
        </div>
      </div>
      <!--
      {{ registerForm.value | json }}
      {{ done | json }}
      {{ formErrors | json }}
      -->
      
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
                
                <div fxFlex fxFlexOffset="20px" class="form-size">
              <!-- start form for validation -->
              <form novalidate [formGroup]="rulesTypesForm" #fform="ngForm" id="demo-form" data-parsley-validate>
                  <p>
                  <mat-form-field class="half-width">
                     
                      <mat-select formControlName="selectType" placeholder="Tipo de reglas" (selectionChange)="selectTypeOnChange($event.value)" [(value)]="selected4">
                        <mat-option *ngFor="let type of rulesTypes" [value]="type.value">
                          {{type.value}}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
                  <mat-form-field class="half-width">
                  
                      <mat-select formControlName="selectMktPrograms"  placeholder="Categorias" [(value)]="selectedMktp">
                       
                        <mat-option *ngFor="let mktprogram of mktPrograms" [value]="mktprogram.mktprogram">
                          {{mktprogram.mktprogram}}
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
                </p>
                <p>
                    <mat-form-field class="half-width">
                     
                        <input matInput value="" formControlName="description" placeholder="Descripción" type="text" >
                    </mat-form-field>
                    <mat-form-field class="half-width">
                    
                        <mat-select formControlName="selectMonths" placeholder="Meses" [(value)]="selected">
                          <mat-option *ngFor="let month of months" [value]="month.value">
                            {{month.viewValue}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
                <button type="button" (click)="accion()" [disabled]="fform.invalid"  class="btn btn-primary">Guardar</button>
              </form>
            </div>
              <!-- end form for validations -->

            </div>
          </div>
        </div>

        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
              <div class="x_content">
                  <ng-flash-message></ng-flash-message>
                  <table mat-table [dataSource]="dataSource" class="mat-elevation-z4">                
                      <ng-container matColumnDef="ruletype">
                        <th mat-header-cell *matHeaderCellDef>Rule Type</th>
                        <td mat-cell *matCellDef="let element">
      
                          {{element.ruletype}}
      
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="mktprogram">
                          <th mat-header-cell *matHeaderCellDef>Mkt Program</th>
                          <td mat-cell *matCellDef="let element">
        
                            {{element.mktprogram}}
        
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef>Description</th>
                            <td mat-cell *matCellDef="let element">
          
                              {{element.description}}
          
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="months">
                              <th mat-header-cell *matHeaderCellDef>Months</th>
                              <td mat-cell *matCellDef="let element">
            
                                {{element.months}}
            
                              </td>
                            </ng-container>
    
    
                          <ng-container matColumnDef="delete">
                              <th mat-header-cell *matHeaderCellDef>Delete</th>
                              <td mat-cell *matCellDef="let element">
            
                                  <button mat-icon-button color="primary" (click)="openModal(template,element)">
                                      <mat-icon>delete</mat-icon>
                                   </button>  
                                    <!--(click)="deleteRecord($event,element)"-->
                              </td>
                            </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row appHighlight *matRowDef="let row;  let even = even; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
                    </table>

                </div>
              </div>
            </div>    
        
        
      </div>
      
      <ng-template #template>
          <div class="modal-body text-center">
            <p>Do you want to confirm?</p>
            <button type="button" class="btn btn-default" (click)="deleteRecord()" >Yes</button>
            <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
          </div>
        </ng-template>
        
    </div>
    <!-- footer content -->
    <footer>
      <div class="pull-right">
        COPYRIGHT - NEC Chile S.A
      </div>
      <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
    </div>
    </div>


<!--
  </body>
-->