

#wrapper {
    height:100vh;
    border : 0px;
    border-spacing: 0px;
    border-width: 0px;
    margin: 0;
    background-image: url("../../assets/space3.jpg") no-repeat;
}

.Aligner-item {
    height: 100%;

  }