<body>
<div id="wrapper">

<div class="container Aligner-item" fxLayout="row"  fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="center center"
fxLayoutGap="10px" >
<!-- class="example-card" -->
<mat-card flex="150" class="">
  <mat-card-header>
      <img src="assets/nec_logo.png">
   
    <!--
       <img src="assets/nec_logo.png">
    <mat-card-title>forecastNEC</mat-card-title>
    -->
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Usuario" size="40" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Contraseña" [(ngModel)]="password" type="password" name="password" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
    <!--
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    -->
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Ingresar</button>
    <span class="flex-spacer"></span>
    <div fxFlex></div>
    <button mat-raised-button  color="basic">Solicitar Acceso</button>

    
  </mat-card-actions>
  
  
</mat-card>

</div>
</div>
</body>