<!--
  <body class="nav-md">
    -->
<div class="container body">
  <div class="main_container">

    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a href="index.html" class="site_title">
            <!--<i class="fa fa-paw"></i>--> <span>Forescast NEC</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
          <div class="profile_pic">
            <!--
                  <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                  -->
          </div>
          <div class="profile_info">
            <span>Bienvenido,</span>
            <h2>{{fullname}}</h2>
          </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
              <li><a routerLink="/main" routerLinkActive="active"><i class="fa fa-home"></i> Data Upload <span
                    class="fa fa-chevron-down"></span></a>
              </li>
              <li><a routerLink="/data" routerLinkActive="active"><i class="fa fa-bar-chart-o"></i> Data Comparisons
                  <span class="fa fa-chevron-down"></span></a>
              </li>
              <li><a routerLink="/sales" routerLinkActive="active"><i class="fa fa-clone"></i> Forecast Prediction
                  <span class="fa fa-chevron-down"></span></a>
              </li>
              <li><a><i class="fa fa-bar-chart-o"></i> Configuration<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                  <li><a routerLink="/mktprogram" routerLinkActive="active">Mkt Program</a></li>
                  <li><a routerLink="/rules" routerLinkActive="active">Rules</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
      <div class="nav_menu">
        <nav>
          <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li class="">
              <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-user">&nbsp;{{fullname}}</i>&nbsp;
                <span class=" fa fa-angle-down"></span>
              </a>
              <ul class="dropdown-menu dropdown-usermenu pull-right">
                <li><a (click)="logout()"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
              </ul>
            </li>

            <li role="presentation" class="dropdown">
              <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-envelope-o"></i>
                <span class="badge bg-green">6</span>
              </a>
              <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                <li>
                  <a>
                    <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                    <span>
                      <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                      Film festivals used to be do-or-die moments for movie makers. They were where...
                    </span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                    <span>
                      <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                      Film festivals used to be do-or-die moments for movie makers. They were where...
                    </span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                    <span>
                      <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                      Film festivals used to be do-or-die moments for movie makers. They were where...
                    </span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                    <span>
                      <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                      Film festivals used to be do-or-die moments for movie makers. They were where...
                    </span>
                  </a>
                </li>
                <li>
                  <div class="text-center">
                    <a>
                      <strong>See All Alerts</strong>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>



    <!-- /top navigation -->
    <!-- (onFileDrop)="dropped($event);" -->
    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Forecast Prediction</h3>
          </div>
        </div>
      </div>


      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <form [formGroup]="forecastPredForm" #fform="ngForm" id="demo-form" data-parsley-validate>
                <div class="example-button-row">
                  <label for="fullname">Seleccione el periodo del forecast * :</label><br>
                  <mat-form-field>
                    <mat-select formControlName="selectYears" (selectionChange)="yearChange($event.value)"
                      placeholder="AÑO" [(value)]="selected">
                      <mat-option *ngFor="let year of years" [value]="year">
                        {{year}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  &nbsp;
                  <mat-form-field>
                    <mat-select formControlName="selectMonths" (selectionChange)="monthChange($event.value)"
                      placeholder="MES" [(value)]="selectedMonth">
                      <mat-option *ngFor="let month of months" [value]="month">
                        {{month}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>                  

                  &nbsp;
                  <span [hidden]="buttonGenerate">
                    <button type="button" (click)="generate()" [disabled]="fform.invalid"
                      class="btn btn-primary">Generate Prediction</button>
                  </span>
                  <span [hidden]="ButtonResetear">
                    <button type="button" (click)="reset()" [disabled]="fform.invalid"
                      class="btn btn-danger">Reset</button>
                  </span>

                  <!-- aqui miguel style="float: right" -->
                  <mat-form-field color="accent" [floatLabel]="always" style="float: right">
                      <input matInput disabled placeholder="TOTAL MES" [value]="totalMonth | number : '4.2-2':'es' " >                    
                  </mat-form-field>
                  <mat-form-field color="accent" [floatLabel]="always" style="float: right">
                      <input matInput disabled placeholder="TOTAL FC" [value]="totalFC | number : '4.2-2':'es' " >                    
                  </mat-form-field>


                </div>
              </form>

              <div class="clearfix"></div>

              <!-- end form for validations -->

            </div>
          </div>
        </div>

        <div class="col-md-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <div class="container mat-elevation-z8">
              <!--<div class="example-container mat-elevation-z8">-->
                  <div class="no-results" [hidden]="showResult">                    
                      No results or generate prediction
                  </div>

              <table mat-table [dataSource]="dataSource" [hidden]="showTable">
                <ng-container matColumnDef="i">
                  <th mat-header-cell *matHeaderCellDef> index </th>
                  <td mat-cell *matCellDef="let index = index"> {{index}} </td>
                </ng-container>
                <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                  {{column}}
                  <ng-container *ngIf="column == 'project' && column != 'postponeRecomended' || column == 'mkt' && column != 'postponeRecomended'">
                    <th class="ancho" mat-header-cell *matHeaderCellDef> {{column | uppercase }} </th>
                    <td class="si" mat-cell *matCellDef="let element">{{element[column]}}</td>
                  </ng-container>
                  <ng-container *ngIf="column == 'postponeRecomended' ">
                      <th class="ancho" mat-header-cell *matHeaderCellDef> MR </th>
                      <td class="si" mat-cell *matCellDef="let element">{{element[column]}}</td>
                    </ng-container>
                  <ng-container *ngIf="column != 'project' && column != 'mkt' && column != 'postponeRecomended' && column != 'star'">
                    <th class="ancho" mat-header-cell *matHeaderCellDef> {{column | uppercase}} </th>
                    <td class="si" mat-cell *matCellDef="let element">{{element[column] | number : '4.2-2':'es' }}</td>
                  </ng-container>
                  <ng-container *ngIf="column == 'star'">
                    <!--<th class="ancho" mat-header-cell *matHeaderCellDef> EDIT </th>-->
                    <mat-header-cell *matHeaderCellDef class="headercell">
                        <button mat-icon-button color="primary" (click)="addNew()">
                          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                        </button>
                    </mat-header-cell>
                    <td class="si" mat-cell *matCellDef="let element">
                      <button mat-icon-button color="accent"
                        (click)="startEdit(dataSource.filteredData.indexOf(element),element.project, element.mkt,element._id,element.postponeRecomended)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                      </button>
                    </td>
                  </ng-container>                  
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row [ngClass]="{gray: even}" *matRowDef="let row;let even = even; let i = index; columns: displayedColumns;"></tr>



              </table>
              </div>
            </div>
          </div>
        </div>

      </div>

      <ng-template #template>
        <div class="modal-body text-center">
          <p>Do you want to confirm?</p>
          <button type="button" class="btn btn-default" (click)="deleteRecord()">Yes</button>
          <button type="button" class="btn btn-primary" (click)="decline()">No</button>
        </div>
      </ng-template>


    </div>
    <!-- footer content -->
    <footer>
      <div class="pull-right">
        COPYRIGHT - NEC Chile S.A
      </div>
      <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
  </div>
</div>


<!--
    </body>
  -->