table {
    min-width: auto !important;
    width: 100% !important;
    /*font-size: 6pt;*/
}

.container {
    display: flex;
    flex-direction: column;
  }

.mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-top: 8px;
  }

  .no-results {
    /*display: flex;*/
    text-align: center;
    justify-content: center;
    padding: 14px;
    font-size: 14px;
    font-style: italic;
  }

  .gray { background-color: #f5f5f5 }
/*
  .mat-column-project {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-mkt {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  */

/*
table {
    min-width: auto !important;
    width: 100% !important;
    font-size: 6pt;
}

td {
    text-align: center;
    font-size: 9pt;
}

.si {
    text-align: left;
    padding-left: 15px;
}
*/

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
/*
.ancho {
    width:10%;
    text-align: left;
}

.ancho2 {
    width:10%;
    text-align: center;
}

.example-container {
    height: 500px;
    
    width:100%;
    overflow: auto;
  }
  */
