.center{
    width: 30%;
    margin: 10px auto;
  }

  .example-full-width {
    width: 100%;
  }
  
  .main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }