<div class="container">
  <!--
      <h3 mat-dialog-title>Issue id: {{data.id}}</h3>-->
    <h1>Add new project to prediction</h1>
  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

      <div class="form">
          <mat-form-field color="accent">
            <input matInput size="40" placeholder="Please write the Customer Name" [(ngModel)]="sCustomer" name="customer">
          </mat-form-field>
        </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput size="40" placeholder="Please write the Project Name" [(ngModel)]="sProject" name="project">
      </mat-form-field>
    </div>

    <!--Textarea for demo purposes-->
    <div class="form">
      
      <mat-select placeholder="Mkt Categories" [(value)]="selectedMktp">
        <mat-option *ngFor="let mktprogram of mktPrograms" [value]="mktprogram.mktprogram">
          {{mktprogram.mktprogram}}
        </mat-option>
      </mat-select>
      <!--
          <mat-form-field color="accent">
              <input matInput  placeholder="Please Select MKT category" [(ngModel)]="data.mkt" name="mkt">            
          </mat-form-field>
          -->
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input type = "text" (input)="inputValidator($event)" matInput placeholder="Put a valid amount" [(ngModel)]="sAmount" name="mkt">

      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="accent">
        <mat-select placeholder="Meses" [(ngModel)]="selected" [(value)]="selected" name="fcMes">
          <mat-option *ngFor="let month of months" (click)="meses(month.value)" [value]="month.value">
            {{month.viewValue}}
          </mat-option>
        </mat-select>
        <!--
            <input matInput #inputstate class="form-control" placeholder="State" [(ngModel)]="data.state" name="state" maxlength="10" required >
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
            -->
      </mat-form-field>
    </div>
    <!--
        <div class="form">
            <mat-form-field color="accent">
              <input matInput placeholder="Cuota"  value="{{cuota | number : '4.2-2':'es'}}" name="cuota ">
            </mat-form-field>
        </div>
    
        <div class="form">
          <mat-form-field color="accent">
              <mat-select placeholder="Postergar"  [(ngModel)]="selectedP" [(value)]="selectedP" name="fcMes1">
                  <mat-option *ngFor="let postergado of postergados" [value]="postergado.value">
                    {{postergado.viewValue}}
                  </mat-option>
                </mat-select>
  
          </mat-form-field>
        </div>
        -->

        
    <div mat-dialog-actions>
      <button type="submit" (click)="stopEdit()" class="btn btn-primary">Save</button>
      <!--<button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
        (click)="stopEdit()">Save</button>-->
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  
    <br>
    <br>
    <br>
  </form>
</div>