table {
    min-width: auto !important;
    width: 100% !important;
    
}

tr.mat-footer-row {
    font-weight: bold;
  }

  
th.mat-sort-header-sorted {
    color: black;
  }

.gray { background-color: #f5f5f5 }

.si {
  text-align: center;
  /*padding-left: 15px;*/
}

.derecha { float: right }