<!--
  <body class="nav-md">
    -->
    

    

<div class="container body">
  <div class="main_container">

    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a routerLink="/data" routerLinkActive="active" class="site_title">
            <!--<i class="fa fa-paw"></i>--> <span>Forescast NEC</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
          <div class="profile_pic">
            <!--
                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                -->
          </div>
          <div class="profile_info">
            <span>Bienvenido,</span>
            <h2>{{fullname}}</h2>
          </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
          <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
              <li><a routerLink="/main" routerLinkActive="active"><i class="fa fa-home"></i> Data Upload <span class="fa fa-chevron-down"></span></a>
              </li>
              <li><a routerLink="/data" routerLinkActive="active"><i class="fa fa-bar-chart-o"></i> Data Comparisons
                  <span class="fa fa-chevron-down"></span></a>
              </li>
              <li><a routerLink="/sales" routerLinkActive="active"><i class="fa fa-clone"></i> Forecast Prediction
                <span class="fa fa-chevron-down"></span></a>
            </li>

            <li><a><i class="fa fa-bar-chart-o"></i> Configuration<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a routerLink="/mktprogram" routerLinkActive="active">Mkt Program</a></li>
                <li><a routerLink="/rules" routerLinkActive="active">Rules</a></li>
              </ul>
          </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- top navigation -->
    <div class="top_nav">
      <div class="nav_menu">
        <nav>
          <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li class="">
              <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-user">&nbsp;{{fullname}}</i>&nbsp;
                <span class=" fa fa-angle-down"></span>
              </a>
              <ul class="dropdown-menu dropdown-usermenu pull-right">                
                <li><a (click)="logout()"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
              </ul>
            </li>

            <li role="presentation" class="dropdown">
              <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-envelope-o"></i>
                <span class="badge bg-green">6</span>
              </a>
              <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                <li>
                  <a>
                    <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                    <span>
                      <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                      Film festivals used to be do-or-die moments for movie makers. They were where...
                    </span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                    <span>
                      <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                      Film festivals used to be do-or-die moments for movie makers. They were where...
                    </span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                    <span>
                      <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                      Film festivals used to be do-or-die moments for movie makers. They were where...
                    </span>
                  </a>
                </li>
                <li>
                  <a>
                    <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                    <span>
                      <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                    </span>
                    <span class="message">
                      Film festivals used to be do-or-die moments for movie makers. They were where...
                    </span>
                  </a>
                </li>
                <li>
                  <div class="text-center">
                    <a>
                      <strong>See All Alerts</strong>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>



    <!-- /top navigation -->
    <!-- (onFileDrop)="dropped($event);" -->
    <!-- page content -->



    <div class="right_col" role="main">
      
      <div class="row tile_count">
 
        <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-history"></i> Total Modificados</span>
          <div class="count green">{{resumenModificados}}</div>
          <span class="count_bottom"><!--<i class="green">4% </i> From last FC<br>-->{{getTotalCost() | currency}}</span>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-close"></i> Total Eliminados</span>
          <div class="count green">{{resumenEliminados}}</div>
          <span class="count_bottom"><!--<i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last FC<br>-->{{getTotalEliminados() | currency}}</span>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-refresh"></i> Total Nuevos</span>
          <div class="count green">{{resumenNuevos}}</div>
          <span class="count_bottom"><!--<i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last FC<br>-->{{getTotalNuevos() | currency}}</span>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-check"></i> Total Continuan</span>
          <div class="count green">{{resumenContinuados}}</div>
          <span class="count_bottom"><!--<i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last FC<br>-->{{getTotalContinuan() | currency}}</span>
        </div>
      </div>
    
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>Data Analisis</h3>
          </div>
        </div>
      </div>
      <!--
      {{ registerForm.value | json }}
      {{ done | json }}
      -->
      <div class="clearfix"></div>
      <ng-flash-message></ng-flash-message>
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <form [formGroup]="registerForm" #fform="ngForm" id="demo-form" data-parsley-validate>
                <label for="fullname">Seleccione el periodo del forecast * :</label><br>
                <mat-form-field>
                  <mat-select formControlName="selectYears" (selectionChange)="yearChange($event.value)" placeholder="AÑO"
                    [(value)]="selected">
                    <mat-option *ngFor="let year of years" [value]="year">
                      {{year}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                &nbsp;
                <mat-form-field>
                  <mat-select formControlName="selectMonths" (selectionChange)="monthChange($event.value)" placeholder="MES"
                    [(value)]="selectedMonth">
                    <mat-option *ngFor="let month of months" [value]="month">
                      {{month}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                
                <mat-form-field style="float: right">
                    <mat-select  formControlName="selectView" (selectionChange)="viewChange($event.value)" placeholder="VIEW"
                      [(value)]="selectedView">
                      <mat-option *ngFor="let view of views" [value]="view.value">
                          {{view.viewValue}}
                      </mat-option>
                      <!--
                      <option value="0">Orders</option>
                      <option value="1">Sales</option>
                      -->
                    </mat-select>
                  </mat-form-field>
              </form>
              <div class="clearfix"></div>
              <br><br>

              
              

              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <strong>REGISTROS MODIFICADOS</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                      <!--Type your name and age-->
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div #TABLE>
                  <table mat-table #table [dataSource]="dataSource" matSort >
                    <ng-container matColumnDef="customer">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>CUSTOMER</th>
                      <td mat-cell *matCellDef="let element">

                        {{element.customer}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef> Total </td>
                    </ng-container>

                    <ng-container matColumnDef="project">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>PROJECT</th>
                      <td mat-cell *matCellDef="let element">
                        {{element.project}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="sbu">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>SBU </th>
                      <td mat-cell *matCellDef="let element">
                        {{element.sbu}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <!--
                    <ng-container matColumnDef="mkt">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>MKT</th>
                      <td mat-cell *matCellDef="let element">
                        {{element.mkt}}

                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="supplier">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>SUPPLIER</th>
                      <td mat-cell *matCellDef="let element">
                        {{element.supplier}}

                      </td>
                      <td mat-footer-cell *matFooterCellDef > </td>
                    </ng-container>
                    -->
                    <ng-container matColumnDef="mesAnterior">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>MES ANTERIOR </th>
                        <td  class="si" mat-cell *matCellDef="let element">
                          {{element.mesAnterior}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                      </ng-container>
                    <ng-container matColumnDef="sumaAnterior">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>MONTO ANTERIOR</th>
                      <td mat-cell *matCellDef="let element">
                        
                        {{element.sumaAnterior | currency }}
                        
                      </td>
                      
                      <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
                      
                    </ng-container>
                    <ng-container matColumnDef="mesNuevo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>MES NUEVO </th>
                        <td  class="si" mat-cell *matCellDef="let element">
                          {{element.mesNuevo}}
                        </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                      </ng-container>
                    <ng-container matColumnDef="sumaNuevo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>MONTO NUEVO</th>
                        <td mat-cell *matCellDef="let element">
                          
                          {{element.sumaNuevo | currency }}
                        
                        </td>
                        
                        <td mat-footer-cell *matFooterCellDef> {{getTotalContinuanNuevos() | currency}} </td>
                        
                      </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsModificados"></tr>
                    <tr mat-row appHighlight [ngClass]="{gray: even}" *matRowDef="let row; let even = even; columns: displayedColumnsModificados;"></tr>
                    
                    <tr mat-footer-row *matFooterRowDef="displayedColumnsModificados"></tr>
                    
                  </table>
                  <br>
                  <button mat-raised-button color="primary" (click)="ExportTOExcel()">Export as Excel</button>
                </div>
                </mat-expansion-panel>
                <mat-expansion-panel >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <strong>REGISTROS ELIMINADOS</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                      <!--Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <table mat-table [dataSource]="dataSourceEliminados" matSort>
                    <ng-container matColumnDef="customer">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>CUSTOMER</th>
                      <td mat-cell *matCellDef="let element">

                        {{element.customer}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef> Total </td>
                    </ng-container>

                    <ng-container matColumnDef="project">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>PROJECT</th>
                      <td mat-cell *matCellDef="let element">
                        {{element.project}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="sbu">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>SBU </th>
                      <td mat-cell *matCellDef="let element">
                        {{element.sbu}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="mkt">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>MKT</th>
                      <td mat-cell *matCellDef="let element">
                        {{element.mkt}}

                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="supplier">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>SUPPLIER</th>
                      <td mat-cell *matCellDef="let element">
                        {{element.supplier}}

                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="fcMes">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>MONTO</th>
                      <td mat-cell *matCellDef="let element">
                        
                        {{element.fcMes | currency }}

                      </td>
                      <td mat-footer-cell *matFooterCellDef> {{getTotalEliminados() | currency}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row appHighlight [ngClass]="{gray: even}" *matRowDef="let row; let even=even; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                  </table>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <strong>REGISTROS NUEVOS</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                      <!--Type your name and age-->
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <table mat-table [dataSource]="dataSourceNuevos" matSort>
                    <ng-container matColumnDef="customer">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>CUSTOMER</th>
                      <td mat-cell *matCellDef="let element">

                        {{element.customer}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef> Total </td>
                    </ng-container>

                    <ng-container matColumnDef="project">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>PROJECT</th>
                      <td mat-cell *matCellDef="let element">
                        {{element.project}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="sbu">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>SBU </th>
                      <td mat-cell *matCellDef="let element">
                        {{element.sbu}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="mkt">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>MKT</th>
                      <td mat-cell *matCellDef="let element">
                        {{element.mkt}}

                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="supplier">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>SUPPLIER</th>
                      <td mat-cell *matCellDef="let element">
                        {{element.supplier}}

                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="fcMes">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>MONTO</th>
                      <td mat-cell *matCellDef="let element">
                        
                        {{element.fcMes | currency }}

                      </td>
                      <td mat-footer-cell *matFooterCellDef> {{getTotalNuevos() | currency }} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row appHighlight [ngClass]="{gray: even}" *matRowDef="let row; let even=even; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                  </table>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <strong>REGISTROS CONTINUAN</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                      <!--Type your name and age-->
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <table mat-table [dataSource]="dataSourceContinuados" #sortCol2="matSort" matSort >
                    <ng-container matColumnDef="customer">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>CUSTOMER</th>
                      <td mat-cell *matCellDef="let element">

                        {{element.customer}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef > Total </td>
                    </ng-container>

                    <ng-container matColumnDef="project">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>PROJECT</th>
                      <td mat-cell *matCellDef="let element">
                        {{element.project}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="sbu">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>SBU </th>
                      <td mat-cell *matCellDef="let element">
                        {{element.sbu}}
                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="mkt">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>MKT</th>
                      <td mat-cell *matCellDef="let element">
                        {{element.mkt}}

                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="supplier">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>SUPPLIER</th>
                      <td mat-cell *matCellDef="let element">
                        {{element.supplier}}

                      </td>
                      <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
                    <ng-container matColumnDef="fcMes">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>MONTO</th>
                      <td mat-cell *matCellDef="let element">
                        
                        {{element.fcMes | currency }}

                      </td>
                      <td mat-footer-cell *matFooterCellDef> {{getTotalContinuan() | currency }} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row appHighlight [ngClass]="{gray: even}" *matRowDef="let row; let even=even; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                  </table>
                </mat-expansion-panel>
              </mat-accordion>



            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer content -->
    <footer>
      <div class="pull-right">
        COPYRIGHT - NEC Chile S.A
      </div>
      <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
  </div>
</div>


<!--
  </body>
-->