/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.example-full-width {
    max-width: 400px;
  }

body {
    margin : 0;
}

  .pers {
      font-size : 80%;
  }